{% extends "base.html" %}
{% block content %}
<div class="title"> <h1>History of {{title}}</h1> </div>
<div class="history">
<table class="history">
	{% for p in pages %}
	<tr class="history">
		<td class="history">{{p.created.strftime("%c")}}</td><td class="history content">{{p.content[0:230]}}...</td>
		<td class="history">
			<a href='/{{p.title}}/{{p.revision}}'>view</a>
		</td>
		<td class="history">
			<a href='/_edit/{{p.title}}/{{p.revision}}'>edit</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
