<html lang="en">

	<head>
		<link rel="stylesheet" href="/static/style.css" />
		<title>Just a wiki.</title>
	</head>
	<body>
		<div id="header">
			<table class="header">
				<tr>
					<td class="left">
					
						<a href="/">Home</a> | 
						{% if user %}
						<a href="/welcome">{{user}}</a> (<a href="/logout">Logout</a>)
						{% else %}
						<a href="/signup">Signup</a> | <a href="/login">Login</a>
						{% endif %}
					</td>
				</tr>
			</table>
		</div>




		<div class="home">
			<h1>Just a wiki.</h1>
			Instructions: 
			<br />
			Go to wikijust.appspot.com/<span class="red">anything_at_all</span> to view or edit a page.
			<br /> 
			You can make any page you want.
			<br />
			You can edit any page you want.

		</div>
		<br />
		<table class="home">
		{% if pages %}
		{% for p in pages %}
		<tr>
			<td>
				<a href="/{{p}}">{{p}}</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr><td>No pages created, yet. You should make some!<tr><td>
		{% endif %}
		</table>
		<br /> <br />
		<hr />
		<div class="footer">A Dan Larson Project <br /> Not the politician from Wyoming</div>
	</body>

</html>
